
        h1 {
            color: darkorange !important;
            position: relative;
            right: 30px;
            font-size: 28px;
        }
        p {
            color: rgb(81, 0, 143);
            position: relative;
            right: 30px;
            font-size: 28px;
        }
        .second_h1{
             color: rgb(0, 169, 23);
            position: relative;
            right: 30px;
            font-size: 28px;
        }
        #third_h1{
            color: rgb(255, 3, 150);
            position: relative;
            right: 30px;
            font-size: 28px;
        }
        #first_h1{
            color: rgb(255, 3, 150);
            position: relative;
            right: 30px;
            font-size: 28px;
        }
        .first_h1_class{
            color: rgb(0, 0, 171);
            position: relative;
            right: 30px;
            font-size: 28px;
        }