h1{
    color : blue;
}

.logo{
    width: 100px;
    height: 100px;

}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-title{
    font-size: 24px;
    font-weight: bold;
    gap: 0px !important;
}